*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.content{
    text-align: center;
}

.content a{
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    background-size: 200% 200%;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    font-family: 'uwu';
    transition: all 0.5s ease;
    animation: pulse 1s infinite;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
  }

.content a:hover {
    color: #ffffff85;
    background: linear-gradient(to right, #4949492c, #4949492c);
    box-shadow: 0px 2px 2px rgba(255, 69, 69, 0.7);
    transform: translateY(-2px);
    animation: pulse 0.5s ease;
    
}

.content a:active {
    transform: translateY(2px);
    box-shadow: none;
    animation-iteration-count: infinite;
}

h1{
    color: white;
    transform: translateY(-2px);
    font-size: 30px;
    text-align: center;
}

.content2 h1 {
    font-size: 115px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    top: -100px;
    position: relative;
    color: #ffffff9d;
    text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 15px #aa9bff, 0 0 25px #9ba2ff, 0 0 35px #c19bff, 0 0 40px #a59bff;
    animation: neon 4s alternate infinite, pulse 4s ease-in-out infinite;
}
  
@keyframes neon {
  from {
    text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 10px #a29bff, 0 0 25px #a29bff, 0 0 30px #a29bff, 0 0 30px #a29bff;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 5px #fff, 0 0 10px #a29bff, 0 0 25px #a29bff, 0 0 30px #a29bff, 0 0 40px #a29bff;
  }
}

@keyframes gradient {
    0% {background-position: 0 0;}
    100% {background-position: 100vw 0;}
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
